<div class="hitec_topnav_wrapper">
    <div class="hitec_topnav_logo">
        <button type="button" [routerLink]="'/home'">HiTec EMS Home</button> 
    </div>
    <div class="hitec_topnav_employees">
        <button type="button" [routerLink]="'/employees'">Mitarbeiter</button> 
    </div>
    <div class="hitec_topnav_qualification">
        <button type="button" [routerLink]="'/qualifications'">Qualifikationen</button> 
    </div>
      <div class="hitec_topnav_logout">
        <app-logout></app-logout>
      </div>
</div>
