.hitec_topnav_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 4rem;
}
.hitec_topnav_logo{
    display: grid;
}
.hitec_topnav_employees{
    display: grid;
}
.hitec_topnav_qualification {
    display: grid;
}
.hitec_topnav_logout {
    display: grid;
}

.hitec_topnav_logo button{
    background-color: black;
    color: aliceblue;
    font-size: x-large;
}
.hitec_topnav_employees button{
    background-color: black;
    color: aliceblue;
    font-size: x-large;
}
.hitec_topnav_qualification button {
    background-color: black;
    color: aliceblue;
    font-size: x-large;
}
.hitec_topnav_logout button {
    background-color: black;
    color: aliceblue;
    font-size: x-large;
}
