<!-- Todo: fix links just placeholder so the topnav looks nice -->
<div class="hitec_topnav_wrapper">
    <div class="hitec_topnav_logo">
        <button>
            <a href="home"> HiTec EMS </a> 
        </button>
    </div>
    <div class="hitec_topnav_employees">
        <button>
            <a href="employees"> Mitarbeiter </a>
        </button>
    </div>
    <div class="hitec_topnav_qualification">
        <button>
            <a href="qualification"> Qualifikation </a>
        </button>
    </div>
    <div class="hitec_topnav_logout">
        <button>
            Logout
        </button>
    </div>
</div>
