.hitec_login_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hitec_login_title_banner{
    padding: 1rem;
    font-size: xx-large;
}

.hitec_login_button {
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: large;
    width: 12vw;
    height: 48px;
    margin-bottom: 1rem;
}