<!-- Todo: Login korrekt implementieren -->
<div class="hitec_login_wrapper">
    <div class="hitec_login_title_banner">
        HiTec GmbH | Employee Management System
    </div>
    <div class="hitec_login_username">
        <div class="hitec_login_username_title">
            Username
        </div>
        <div class="hitec_login_username_text" required>
            <input type="text"/>
        </div>
    </div>
    <div class="hitec_login_password">
        <div class="hitec_login_password_title">
            Passwort
        </div>
        <div class="hitec_login_password_text" required>
            <input type="password"/>
        </div>
    </div>
    <button type="button" (click)="login()">Login</button>
</div>