<!-- Todo: Links müssen eingefügt werden (placeholder ersetzen) -->
<div class="hitec_home_wrapper min-vh-100 d-flex align-items-center justify-content-center bg-dark">
    <div class="hitec_home_content bg-white p-4 rounded shadow">
        <div class="hitec_home_welcome mb4 text-xl text-center">
            <h1>Willkommen</h1>
        </div>
        <div class="hitec_home_employees">
            <button class="rounded" type="button" [routerLink]="'/employees'">Mitarbeiter</button>
        </div>
        <div class="hitec_home_qualifications">
            <button class="rounded" type="button" [routerLink]="'/qualifications'">Qualifikationen</button>
        </div>
    </div>
</div>

